.header {
  display: flex;
  align-items: center;

  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

  min-height: 50px;
  width: 100%;

  margin-bottom: 30px;
}

.title {
  font-weight: 700;
  line-height: 1.29;
  padding: 22px;

  text-align: left;
}

.form {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  padding: 20px;
}
.input {
  width: 335px;
  border-radius: 15px;
  padding: 10px 15px;

  font-weight: 400;
  line-height: 1.29;
  outline: 0;
  border: 1px solid rgba(5, 5, 5, 0.2);
}

.button {
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 1px solid #333333;
  letter-spacing: 0.02em;
  color: inherit;
  font-size: 14px;
  transition: background-color 250ms linear, color 250ms linear;
}
.button:hover,
.button:focus {
  background-color: #6fa5d2;
  color: #ffffff;
}
