.asideForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  /* padding: 15px; */
}

.form {
  display: flex;

  align-items: center;
  flex-direction: column;
  gap: 15px;

  max-width: 170px;
}
.input {
  width: 100%;

  border-radius: 15px;
  padding: 10px 15px;

  font-weight: 400;
  line-height: 1.29;
  outline: 0;
  border: 1px solid rgba(5, 5, 5, 0.2);
}
.button {
  max-width: 140px;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 1px solid #333333;
  letter-spacing: 0.02em;
  color: inherit;
  font-size: 14px;
  transition: background-color 250ms linear, color 250ms linear;
}
.button:hover,
.button:focus {
  background-color: #6fa5d2;
  color: #ffffff;
}

.title {
  font-weight: 700;
}

.linksWrapper {
  display: flex;
  justify-content: center;

  flex-direction: column;
  gap: 20px;

  padding: 5px;
  max-width: 300px;
}

.list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}

.span {
  color: #6fa5d2;
}

.listItem {
  font-size: x-small;
}
